<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.dao.mysql.PssPerfMapper">

    <insert id="savePerf">
        insert into pss_perf (score,quotaName,appname,weight,staffsid)
        <foreach collection="list"
                 item="item"
                 open="values"
                 separator=",">
            (#{item.score},#{item.quotaName},#{item.appname},#{item.weight},#{item.staffsid})
        </foreach>
    </insert>
</mapper>